@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('variables.css');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: clamp(1.8rem,4vw,3rem);
    color: var(--heading-color);
}

h2 {
    font-size: clamp(1.2rem,4vw,1.8rem);
    color: var(--heading-color);
}

h3 {
    font-size: clamp(0.6rem,4vw,1rem);
}

a, p ,span {
    font-size: clamp(0.6rem,4vw,1rem);
    text-decoration: none;
    color: var(--text-color);
}
.container {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100vh;
    padding-inline: 4.5rem;
}
.aside {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.aside .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.3s linear;
}

.nav a {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: clamp(0.5rem,4vw,1rem);
  }

  .nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--background-color-alt); 
    transition: width 0.3s ease;
  }

  .nav a:hover {
    color: var(--background-color-alt); 
  }

  .nav a:hover::after {
    width: 20%;
  }
  .light-effect {
    position: fixed;
    pointer-events: none;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, var(--light-color) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    z-index: 1000;
  }
  .main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: hidden;
    height: 100vh; 
    padding: 5rem;
  }
  .main:hover{
    overflow: auto;
    scrollbar-width: none
  }
  .main .about{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .main .about .titleAbout {
    font-size: clamp(1rem,4vw,1.5rem);
  }
  .main .textAbout{
    text-align: justify;
    font-size: clamp(0.5rem,4vw,1rem);
  }
  .main .photoAbout{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .photoAbout img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  .main .skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    place-content: center;
    place-items: center;
  }
  .main .skills .figureSkills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 4rem;
    margin: 2rem 0;
  }
  .main .skills .figureSkills img{
    width: 4rem;
    height: 4rem;
  }
