@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('variables.css');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    place-content: center;
    place-items: center;
    padding: 5rem 2rem;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: clamp(1.2rem,4vw,2.2rem);
    color: var(--heading-color);
}

h2 {
    font-size: clamp(0.8rem,4vw,1.2rem);
    color: var(--heading-color);
}

h3 {
    font-size: clamp(0.5rem,4vw,0.8rem);
}

a, p ,span {
    font-size: clamp(0.3rem,4vw,0.5rem);
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    text-decoration: underline;
}

.aside {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aside .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    width: auto;
}