:root {
    --background-color: #201E43;       /* Fondo */
    --background-color-alt: #134B70;   /* Fondo 2 */
    --heading-color: #508C9B;          /* Títulos y subtítulos */
    --text-color: #EEEEEE;             /* Texto */
    --light-color: rgba(255, 255, 255, 0.08); /* Color tenue de la luz */
  }
  